.button {
  background-color: $color-blue-background;
  color: $color-white-default;
  width: 228px;
  height: 60px;
  letter-spacing: 1.2px;
  font-size: $description-font-size;
  font-family: $font-secondary;

  &__book-now {
    margin-top: 48px;
    margin-bottom: 47px;
  }


  &__search {
    width: 150px;
    transform: translate(-6px, 3px);
    opacity: 50%;
    border: 2px solid $color-white-default;
    padding: 10px 10px 13px 35px;
    font-size: $search-button-font-size;

    i {
      margin-left: 14px;
      font-size: 21px;
      margin-top: 6px;
    }
  }
}

