$color-white-default: #ffffff;
$color-white-primary: #E8E8E8;
$color-white-some:#FEFEFE;
$color-gray-search:#999999;
$color-blue-background: #5474FD;
$color-gray-background: #333333;
$color-black-spain: #232323;



