// Width
$min-width       : 320px;
$container-width : 1800px;

//Typography
$description-font-size  : 16px;
$font-primary           : 'Josefin Sans';
$font-secondary         : 'Aleo';
$font-last-paragraph    :'FontAwesome', sans-serif;
$h2-font-size           : 36px;
$h1-font-size           : 48px;
$nav-font-size          : 14px;
$line-height-default    : 26px;
$search-button-font-size: 13px;
